.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    align-items: end;
}

.top_btn{
    display: flex;
    gap: 34px;
}

.contact_form{
display: flex;
flex-direction: column;
gap: 24px;

}
.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    position: relative;
}
.form_control input{
    height: 40px;
    padding: 0 8px;
}
.form_control label{
    position:absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
    font-size: 14px;
}
.contact_form form{
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding-bottom: 60px;
}


